<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <div class="userInfo_container" th:fragment="userInfo (user)">
    <h1 class="h1">User information-page</h1>
    <div class="table_container mt-3 border ">
      <div class="title_container p-3 bg-body-secondary">
        <h5 class="h5 m-0">About user</h5>
      </div>
      <div class="table_container p-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Age</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" th:text="${user.getId()}"></th>
              <td th:text="${user.getFirstName()}"></td>
              <td th:text="${user.getLastName()}"></td>
              <td th:text="${user.getAge()}"></td>
              <td th:text="${user.getEmail()}"></td>
              <td th:text="${user.roles}"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>


</html>