<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <div class="editModal_container" th:fragment="editModal (user, roles)">
    <div class="modal fade" th:id="${'editUserModal' + user.getId()}" tabindex="-1" aria-labelledby="editModelLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="form" th:action="@{/admin/user/{id}/edit(id=${user.getId()})}" th:method="PATCH"
              th:object="${user}">
              <div class="mb-1">
                <label th:for="${'firstNameInput' + user.id}" class="form-label">
                  <b>First name</b>
                </label>
                <input th:name="firstName" type="text" class="form-control" th:id="${'firstNameInput' + user.id}"
                  th:value="${user.firstName}">
              </div>

              <div class="mb-1">
                <label th:for="${'lastNameInput' + user.id}" class="form-label">
                  <b>Last name</b>
                </label>
                <input th:name="lastName" type="text" class="form-control" th:id="${'lastNameInput' + user.id}"
                  th:value="${user.lastName}">
              </div>

              <div class="mb-1">
                <label th:for="${'ageInput' + user.id}" class="form-label">
                  <b>Age</b>
                </label>
                <input th:name="age" type="number" class="form-control" th:id="${'ageInput' + user.id}"
                  th:value="${user.age}">
              </div>

              <div class="mb-1">
                <label th:for="${'emailInput' + user.id}" class="form-label">
                  <b>Email</b>
                </label>
                <input th:name="email" type="email" class="form-control" th:id="${'emailInput' + user.id}"
                  aria-describedby="emailHelp" th:value="${user.email}">
              </div>

              <div class="mb-1">
                <label for="newPassword" class="form-label">
                  <b>Password</b>
                </label>
                <input type="text" class="form-control" name="newPassword" id="newPassword">
                <input th:name="password" type="hidden" th:value="${user.password}">
              </div>

              <div class="mb-2">
                <label th:for="${'roleSelect' + user.id}" class="form-label">
                  <b>Role</b>
                </label>
                <select th:name="roles" class="form-control" size="2" th:id="${'roleSelect' + user.id}"
                  th:value="${user.roles}" multiple>
                  <div th:each="role : ${roles}">
                    <option th:selected="${user.roles.contains(role)}" th:name="role" th:value="${role}"
                      th:text="${role.getRole()}"></option>
                  </div>
                </select>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>